<div class="container">
  <div class="row">

    <!-- main right col -->
    <div class="column col-sm-12" id="main">
      <div class="padding">
        <div class="full col-sm-9">

          <!-- content -->
          <div class="row">

            <!-- main col left -->
            <div class="col-sm-4">

              <div class="panel panel-default">
                <div class="panel-thumbnail"><img src="https://pbs.twimg.com/profile_images/617067874310557696/7ILaI9k7.jpg" class="img-responsive"></div>
                <div class="panel-body">
                  <p class="lead"><%= @company["name"] %></p>

                  <hr>

                  <p>Conectado como <%= @company["email"] %></p>
                  <p>Se encuentra en <%= @company["address"] %></p>

                  <hr>

                  <p><%= link_to "Ver contenedores", companies_containers_path %></p>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading"><h4>Bootstrap Examples</h4></div>
                <div class="panel-body">
                  <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- main col right -->
            <div class="col-sm-8">

              <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootply Editor &amp; Code Library</h4></div>
                <div class="panel-body">
                  <p><img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">The Bootstrap Playground</a></p>
                  <div class="clearfix"></div>

                  <hr>

                  <p>Design, build, test, and prototype using Bootstrap in real-time from your Web browser. Bootply combines the power of hand-coded HTML, CSS and JavaScript with the benefits of responsive design using Bootstrap. Find and showcase Bootstrap-ready snippets in the 100% free Bootply.com code repository.</p>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Portlet Heading</h4></div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">Modals</li>
                    <li class="list-group-item">Sliders / Carousel</li>
                    <li class="list-group-item">Thumbnails</li>
                  </ul>
                </div>
              </div>

            </div>

          </div>

          <hr>

          <h4 class="text-center"><a href="http://bootply.com/96266" target="ext">Download this Template @Bootply</a></h4>

          <hr>

        </div>
      </div>
    </div>

  </div>
</div>
